
@{
    ViewBag.Title = "GetDetailsInView: Countries List";
}

<h2>GetDetailsInView : Countries List</h2>

<ul>

    @foreach (string strCountry in ViewBag.Countries)
    {
        <li>@strCountry</li>
    }

</ul>

